#disp{
  background-color: rgb(120, 209, 247);
  color:white;
  border: 10px ridge;
}
h1{
  background-color: rgb(19, 4, 90);
  font-size: 20px;
}
h2{
  background-color: rgb(237, 77, 165);
  font-size: 8px;
}